:root {
    --cor_principal: linear-gradient( rgb(74, 199, 230), rgb(85, 206, 85), rgb(238, 238, 55));

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--cor_principal);
    color: #000000;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    width: 40vw;
    /*height: 90vh;*/
	/*width: 600px;*/
    position: absolute;
    align-items: center;
	top: 40%;
	/*left: 50%;*/
	transform: translate(-50%, -50%);
	/*background: rgba(83, 83, 248, 0.61);*/
	/*background: #262626;*/
	padding: 80px;
    color: #fff;
	text-align: center;
	border-radius: 15px;
    height: 70vh;
    justify-content: center;

    

}

/*Título*/
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: green;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
     
}

/*Ícone calculadora*/
.fa-duotone, .fa-calculator-simple {
    font-size: 1rem;

}

/*Box entrada de números*/
/*input[type=number] {

}

/*Box dos números*/
#num1, #num2, #num3, #num4, #num5{
    /*display: block;*/
    /*text-align: center;*/
    /*align-items: center;*/
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: 1rem;
    border-radius: 15px;
    border: none;
    color: green;
    font-weight: bold;
    text-align: right;
     
}

input::placeholder {
    font-size: 1rem;
    text-align: center;
    color: #acaaaa;
}


/*Calcular*/
.btnCalcular {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    /*background-color: color-mix(in srgb, rgba(255, 0, 0, 0.795), white);    border: none;*/
    background-color: rgb(10, 179, 10);
    cursor: pointer;
    padding: 1rem;
    /*margin: 1rem;*/
    border-radius: 15px;
        

}

.btnCalcular:hover {
    background-image: var(--cor_principal);
    transform: scale(1.1);
}


/*Resultado*/
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-top: 1rem;
    color: green;

}


footer {
    font-size: 11px;
    /*text-shadow: 2px 2px 2px black;*/
    font-weight: bold;
    letter-spacing: 2px; 
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 4vh;*/
    /*background-color: #c0bebeaf;*/
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    opacity: .7;
       
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 52.81em) {
    /*845px*/

  
    .container {
        /*width: 60%;*/
        width: 50vw;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        
        
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: -5rem;
        

    }

    .fa-duotone, .fa-calculator-simple {
        font-size: 1rem;
            
    }



    #num1, #num2, #num3, #num4, #num5 {
        align-items: center;
        margin-top: .5rem;
        font-size: 1rem;
        font-weight: 1rem;
        border-radius: 15px;
        border: none;
        font-weight: bold;
         
    }

    input::placeholder {
        font-size: .8rem;
        text-align: center;
        color: #acaaaa;
    }

    
    .btnCalcular {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: .8rem;
        cursor: pointer;
        padding: .5rem;
       
            
    
    }

    /*Resultado*/
    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: .9rem;
        margin-top: .8rem;
    
    }

    footer {
        padding-bottom: 1rem;
        font-size: .6rem;
    }
   
            
    
}